*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #a5c9ca;
    --text-color: #2b2b2b;
}
/* to use this just do var(--primary-color) */
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    background: whitesmoke;
  
}

a{
    text-decoration: none;
    color: var(--text-color);
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
}

/* section:nth-of-type(odd) {
    background-color: #f8f8f8; 
}

section:nth-of-type(even) {
    background-color: #ffffff; 
} */


/* navbar */
.navbar {
    background-color: #a5c9ca;
    padding: 20px;
    transition: transform 0.4s ease;
    position: fixed; /* Make the navbar stick to the top */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Align it to the left edge */
    width: 100%; /* Ensure it spans the full width of the viewport */
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display:flex;
    margin-left: auto;
}

.navbar ul a {
    padding: 10px;
    display: block;
    font-weight: 600;
}

.right{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar ul li a:hover {
    color: white;
}

.navbar .left{
    font-weight: 600;
}



/* headshot */
.headshot img{
    margin-top: 150px;
    margin-bottom: 30px;
    width: 300px; 
    height: 300px;
    
    object-fit: cover;
    border-radius: 50%; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

.headshot {
    display: flex;
    /* justify-content: right; */
    justify-content: center;
    align-items: center;

}

.headshot img:hover{
    transform: scale(1.2);
}

/* introduction */
.bio{
    padding: 50px;
}

/* skills */
.skillsection {
    margin-top: 100px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.CS, .design{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap; 
    padding: 20px;
}

.CS .icon-box, .design .icon-box{
    width: 145px;
    height: 160px;
    background-color: #F6C944;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    display: flex;
    border-radius: 10px;
    box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.2);
}


.CS .icon-name, .desgin .icon-name{
    justify-content: center; 
    align-items: center; 
    font-size: 15px;
}

.design{
    margin-bottom: 150px;
}

.CS i, .design i{
    font-size: 50px;
    color: #2E4052;
    transition: color 0.3s ease;
}

.CS i:hover, .design i:hover {
    color: #f8f8f8;

}


/* projects */
#projects-section {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#projects-section h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

#projects-section h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.project-subsection {
    width: 100%;
    margin-bottom: 4rem; /* Add space between subsections */
}

.projects-scroll-container {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 1600px;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    margin: 0 auto;
}

.project-box {
    flex: 0 0 16rem; /* Fixed width for the boxes */
    text-align: center;
    border: 1px solid #d7dbd8;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling */
}

.project-box:hover {
    transform: scale(0.95); /* Grow the box slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-box img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.project-box h4 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.project-box h5 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.project-box p {
    font-size: 1rem;
    font-weight: 300;
    color: #494a4a;
}
/* .projectsection{
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.posters_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.postercontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    max-width: 900px;
    margin: auto;
}

.left {
    margin-top: 50px;
    max-width: 900px;
    margin:auto;
    padding:0 15px;
    gap: 2rem;
    float: left;
    flex: 1; 
    width: 25%;
    flex-wrap: wrap;
}

.middleleft {
    margin-top: 50px;
    max-width: 900px;
    margin:auto;
    padding:0 15px;
    gap: 2rem;
    flex: 1; 
    width: 25%;
    flex-wrap: wrap;
    float: left;
}

.middleright {
    margin-top: 50px;
    max-width: 900px;
    margin:auto;
    padding:0 15px;
    gap: 2rem;
    float: right;
    flex: 1; 
    width: 25%;
    flex-wrap: wrap;
}

.right {
    margin-top: 50px;
    max-width: 900px;
    margin:auto;
    padding:0 15px;
    gap: 2rem;
    float: right;
    flex: 1; 
    width: 25%;
    flex-wrap: wrap;
}

.products {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.products img{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap; 
    padding: 20px;
}

.typography{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding: 10px;
}

.designs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding: 10px;
}

.shortfilms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding: 10px;
} */



/* message */
.messagesection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 120px;

}

.connections{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 100px;
}

/* footer */
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}


/* utilities */
.container{
    max-width: 1100px ;
    margin: 0 auto;
    padding: 0 15 px;
}

.container-smaller{
    max-width: 800px ;
    margin: 0 auto;
    padding: 0 15 px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 97px;
}