*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #a5c9ca;
    --text-color: #2b2b2b;
}
/* to use this just do var(--primary-color) */
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    background: whitesmoke;
  
}

a{
    text-decoration: none;
    color: var(--text-color);
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
}

/* section:nth-of-type(odd) {
    background-color: #f8f8f8; 
}

section:nth-of-type(even) {
    background-color: #ffffff; 
} */


/* navbar */
.navbar {
    background-color: #a5c9ca;
    padding: 20px;
    transition: transform 0.4s ease;
    position: fixed; /* Make the navbar stick to the top */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Align it to the left edge */
    width: 100%; /* Ensure it spans the full width of the viewport */
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display:flex;
    margin-left: auto;
}

.navbar ul a {
    padding: 10px;
    display: block;
    font-weight: 600;
}

.right{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar ul li a:hover {
    color: white;
}

.navbar .left{
    font-weight: 600;
}



/* headshot */
.headshot img{
    margin-top: 150px;
    margin-bottom: 30px;
    width: 300px; 
    height: 300px;
    
    object-fit: cover;
    border-radius: 50%; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

.headshot {
    display: flex;
    /* justify-content: right; */
    justify-content: center;
    align-items: center;

}

.headshot img:hover{
    transform: scale(1.2);
}

/* introduction */
.bio{
    padding: 50px;
}

/* skills */
.skillsection {
    margin-top: 100px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.CS, .design{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap; 
    padding: 20px;
}

.CS .icon-box, .design .icon-box{
    width: 145px;
    height: 160px;
    background-color: #F6C944;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    display: flex;
    border-radius: 10px;
    box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.2);
}


.CS .icon-name, .desgin .icon-name{
    justify-content: center; 
    align-items: center; 
    font-size: 15px;
}

.design{
    margin-bottom: 150px;
}

.CS i, .design i{
    font-size: 50px;
    color: #2E4052;
    transition: color 0.3s ease;
}

.CS i:hover, .design i:hover {
    color: #f1d990;

}


/* projects */
.projectsection {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titles{
    padding-top:50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: underline;
}


.posters-section {
    width: 100%;
    margin-bottom: 4rem; /* Add space between subsections */
}


/* Swiper Container for vertical designs*/
.verticalSwiper {
    width: 100%;
    height: 400px; /* Set a fixed height for the Swiper container */
    padding: 20px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Add a background color */
    border-radius: 10px; /* Optional: Add rounded corners */
    overflow: hidden; /* Ensure the image doesn't overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.poster {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image fits within the slide */
    border-radius: 10px; /* Optional: Add rounded corners */
}

/* Swiper Container for horizontal designs*/
.horizontalSwiper {
    width: 120%;
    height: 300px; /* Set a fixed height for the Swiper container */
    padding: 20px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Add a background color */
    border-radius: 10px; /* Optional: Add rounded corners */
    overflow: hidden; /* Ensure the image doesn't overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.swiper-slide img {
    width: 90%;
    height: 90%;
    object-fit: contain; /* Ensures the image fits within the slide */
    border-radius: 10px; /* Optional: Add rounded corners */
}

.smallTitles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.xiaoka{
    width: 30%;
    height: 30%;
    margin: auto;
}

/* message */


.connections{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 200px;
}

/* footer */
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}


/* utilities */
.container{
    max-width: 1100px ;
    margin: 0 auto;
    padding: 0 15 px;
}

.container-smaller{
    max-width: 800px ;
    margin: 0 auto;
    padding: 0 15 px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 97px;
}