*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #a5c9ca;
    --text-color: #2b2b2b;
}
/* to use this just do var(--primary-color) */
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    background: whitesmoke;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
}

/* section:nth-of-type(odd) {
    background-color: #f8f8f8; 
}

section:nth-of-type(even) {
    background-color: #ffffff; 
} */


/* navbar */
.navbar {
    background-color: #a5c9ca;
    padding: 20px;
    transition: transform 0.4s ease;
}

.navbar .container {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.navbar ul {
    display:flex;
}

.navbar ul a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
}

.navbar ul li a:hover {
    color: white;
}

.navbar .left{
    font-weight: 600;
}

/* headshot */
.headshot img{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 270px; 
    height: 270px;
    object-fit: cover;
    border-radius: 50%; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

.headshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot img:hover{
    transform: scale(1.2);
}

/* introduction */
.bio{
    padding: 25px;
}

/* skills */
.skillsection {
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.CS {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap; 
    padding: 20px;
}

.CS i {
    font-size: 40px;
    color: #a5c9ca;
    transition: color 0.3s ease;
}

.CS i:hover {
    color: white;
}

.design {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap; 
    padding: 10px 20px;
}

.design i {
    font-size: 40px;
    color: #a5c9ca;
    transition: color 0.3s ease;
}

.design i:hover {
    color: white;
}

/* projects */
.projectsection{
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.posters_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.postercontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    max-width: 900px;
    margin: auto;
}

.left {
    margin-top: 50px;
    max-width: 900px;
    margin:auto;
    padding:0 15px;
    gap: 2rem;
    float: left;
    flex: 1; 
    width: 25%;
    flex-wrap: wrap;
}

.middleleft {
    margin-top: 50px;
    max-width: 900px;
    margin:auto;
    padding:0 15px;
    gap: 2rem;
    flex: 1; 
    width: 25%;
    flex-wrap: wrap;
    float: left;
}

.middleright {
    margin-top: 50px;
    max-width: 900px;
    margin:auto;
    padding:0 15px;
    gap: 2rem;
    float: right;
    flex: 1; 
    width: 25%;
    flex-wrap: wrap;
}

.right {
    margin-top: 50px;
    max-width: 900px;
    margin:auto;
    padding:0 15px;
    gap: 2rem;
    float: right;
    flex: 1; 
    width: 25%;
    flex-wrap: wrap;
}

.products {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.products img{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap; 
    padding: 20px;
}

.typography{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding: 10px;
}

.designs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding: 10px;
}

.shortfilms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding: 10px;
}



/* message */
.messagesection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding: 10px;
}

.connections{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    padding: 10px;
}
/* utilities */

.container{
    max-width: 1100px ;
    margin: 0 auto;
    padding: 0 15 px;
}

.container-smaller{
    max-width: 800px ;
    margin: 0 auto;
    padding: 0 15 px;
}

html {
    scroll-behavior: smooth;
}